// Sass tils
$color-primary: #394263; // sidenav bg & dark text
$color-secondary: #384b5f80;
$color-white: #fff; // card bg
$color-athens-gray: #eaedf1; // content bg
$color-catskill-white: #f9fafc; // top nav bg
$main-bg: #777; // main background color
$color-mischka: #dadae3; // light gray for menu icon
$color-java: #1bbae1; // blue text
$color-mine-shaft: #333; // main section header bg
$color-zest: #e67e22; // document icon bg
$color-jungle-green: #27ae60; // calendar icon bg
$color-cinnabar: #e74c3c; // main icon bg, red
$color-amethyst: #af64cc; // main photo icon bg
$color-transparent: rgba(255, 255, 255, 0.5);
$color-alto: #d3d3d3;
$color-hover: #1e2c3a;
$color-active: rgba(#384b5f, 0.5);

$height-header: 50px;
$height-footer: 20px;
$width-sidenav: 300px;
$width-sidenav2: 100px;
