@import "bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";
@import "bootstrap/dist/css/bootstrap.min.css";
@import "@fortawesome/fontawesome-free/css/all.min.css";
@import "./variables";
// @import "./variables";

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open-Sans", "Arial", "Helvetica", "sans-serif", "Arial";
    background-color: rgba($main-bg, 0.2);
}

@mixin profile-avatar {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1609106/headshot.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: 2px solid $main-bg;
}

.grid-container {
    display: grid;
    grid-template-columns: $width-sidenav 1fr;
    grid-template-rows: 100vh;

    &.collapsed {
        grid-template-columns: $width-sidenav2 1fr;
        transition: all 0.3s ease-in-out;
    }
}
.grid-header {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 100%;
}

.sidebar {
    background-color: $color-primary;
    color: white;
    padding: 0;
    height: 100%;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    overflow: hidden;
    transition: all 0.3s ease-in-out;

    &__nav {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        padding: 0;
        margin: 0;
        min-height: 0;
        max-height: 100%;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }
    }

    &__menu {
        display: flex;
        flex-direction: column;

        a {
            text-decoration: none;
            color: inherit;
            display: block;
        }
    }

    &__menuItem {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;
        padding-left: 20px;
        height: 50px;

        i {
            width: 20px;
        }

        a {
            font-size: 18px;
        }

        &.active {
            background-color: rgba($color-hover, 0.5);
        }

        &:hover {
            background-color: $color-hover;
        }
    }

    &__subMenu {
        background-color: $color-primary;
        transition: scale(0);
        transform-origin: top;
        opacity: 0;
        max-height: 0;
        overflow: hidden;
        transition: transition 0.3s ease-in-out, transition 0.3s ease-in-out,
            max-height 0.3s ease-in-out;

        &-visible {
            background-color: $color-secondary;
            max-height: 100%;
            transform: scale(1);
            opacity: 1;
            overflow: hidden;
        }

        &-hidden {
            transform: scale();
            max-height: 0;
        }
    }

    &__subItem {
        display: flex;
        align-items: center;
        font-size: 0.9rem;
        color: #ecf0f1;
        height: 40px;
        transition: all 0.3s ease-in-out;

        &.active {
            color: $color-hover;
            ::after {
                content: "";
                color: green;
            }
        }

        &:hover {
            color: white;
            background-color: $color-hover;
        }

        a {
            padding-left: 55px;
        }
    }

    &__brand {
        display: flex;
        align-items: center;
        justify-content: center;
        height: $height-header;
        gap: 0.75rem;
        padding: 0;
        margin: 0 auto;
        text-align: center;
        line-height: $height-header;

        &-icon {
            display: inline-flex;
            align-items: center;
        }

        &-text {
            color: $color-white;
        }
        a {
            text-decoration: none;
        }
    }

    &__profile {
        display: flex;
        align-items: center;
        min-height: 90px;
        background-color: $color-secondary;

        &-avatar {
            @include profile-avatar;
            height: 64px;
            width: 64px;
            margin: 0 15px;
        }
    }

    &__footer {
        padding: 1rem;
        margin: 0;
        color: rgba($color: $main-bg, $alpha: 0.8);
        height: $height-footer;
        background-color: rgba(0, 0, 0, 0.1);
        display: flex;
        align-items: center;
    }

    &.collapsed {
        width: $width-sidenav2;

        .sidebar__brand-text,
        .sidebar__profile-title,
        .sidebar__subItem a {
            display: none;
        }

        .sidebar__menuItem {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 0;
            height: 70px;
            gap: 0;

            i {
                display: block;
                margin-bottom: 5px;
            }

            a {
                display: block;
                text-align: center;
                font-size: 12px;
            }
        }

        .sidebar__profile {
            justify-content: center;
            padding: 0;

            &-avatar {
                margin: 0 auto;
            }
        }

        .sidebar__subMenu {
            display: none;
        }
    }
}
.mainHeader {
    height: $height-header;
    background-color: $color-white;
    width: calc(100vw - 300px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    z-index: 1000;

    &__left {
        display: flex;
        align-items: center;
    }

    &__right {
        display: flex;
        align-items: center;
        width: 100vw;
        justify-content: right;
        padding-right: 10px;
    }
    i {
        margin: 0 15px;
    }

    &__search {
        width: 500px;
        border-radius: 15px;
        border-color: $color-primary;
        color: $color-primary;
        padding-left: 15px;
        display: flex;
        align-items: center;
        margin-left: 10px;

        &__input {
            width: 100%;
            border: 1px solid #ccc;
            border-radius: 15px;
            font-size: 12px;
            color: $color-primary;
            padding: 8px 12px;
        }
    }

    &__avatar {
        display: flex;
        @include profile-avatar;
        height: 40px;
        width: 40px;
        margin: 0 5px;
        background-color: #ccc;
        border-radius: 50%;
    }

    &::placeholder {
        color: $color-primary;
        font-size: 14px;
        opacity: 1;
    }

    &.collapsed {
        width: calc(100vw - 100px);
        left: $width-sidenav2;
        transition: all 0.3s ease-in-out;
    }
}

.dropdown {
    position: relative;
    padding-top: 5px;
    margin-top: 5px;

    ul {
        display: none;
        position: absolute;
        right: 0;
        background: white;
        list-style: none;
        padding: 10px;
        margin-top: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    i {
        margin: 5px;
    }

    &-show ul {
        display: block;
        transition: scale(1);
    }
    &-header,
    &-item {
        height: 45px;
        width: 200px;
    }
    &-divider {
        border-color: grey;
        box-shadow: inset;
    }
    &-header h6 {
        margin: 5px 5px 0 5px;
    }
    &-header span {
        font-size: 10px;
        color: green;
        margin: 5px 5px 0 5px;
    }

    &-item:hover {
        background-color: $color-hover;
        color: white;
        transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    }
}

::-webkit-scrollbar {
    background-color: transparent;
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba($main-bg, 0.2);
    border-radius: 7px;
}

.content {
    width: 100vw;
}
